<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title><%= title %></title>
    <style>
      li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <%- include('../commonPages/header.ejs') %>
    <div class="container mx-auto border border-1 w-25 p-4 mt-5">
      <h4 class="mb-4">Update Product</h4>
      <form action="/product/update/<%=product.id %>" method="post" enctype="multipart/form-data">
        <input
          type="text"
          class="mb-4 mt-4 w-100 p-1"
          placeholder="Enter product name"
          name="name"
          value="<%= product.name %>"
        />

        <textarea
          class="mb-3 w-100"
          placeholder="Enter description"
          name="description"
          value="<%= product.description %>"
        ><%= product.description %></textarea>

        <input
          type="number"
          class="mb-4 w-100 p-1"
          placeholder="Enter price"
          name="price"
          value="<%= product.price %>"
        />

        <input type="file" class="mb-2" name="image" /><br /><br />
        <img src="/<%= product.image %>" width="50" />
        <br /><br />
        <input
          type="hidden"
          name="oldImage"
          value="<%= product.image %>"
        />

        <button type="submit" name="submit" class="btn btn-success">
          Update
        </button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
